body {
   background: #ccc;
   font-size: 12px;
   line-height: 120%;
}

form label:first-child {
   font-weight: bold !important;
}
form textarea {
   width: 100%;
}

.help-tooltip {
   display: inline-block;
   text-align: center;
   width: 14px;
   height: 14px;
   border-radius: 50%;
   background-color: #000;
   color: #fff;
}

#campaign_step {

}
#campaign_step label {
   display: inline-block;
   padding: 0 12px 0 0 !important;
   margin: 0;
}
