{% extends "sample_app/base.html" %}
{% load static %}
{% block content %}

<h1>{{ cf_step.name }}</h1>
<hr/>

<form id="campaign_step" action="{% url 'save_step_data' campaign.id cf_step.id %}">
    {% csrf_token %}
    <div id="layout"></div>
    <hr/>
    {% if cf_step.id == 6 %}
        <a href="{% url 'view_step' campaign.id 7 %}">Next >></a>
    {% endif%}
    {% if cf_step.id == 7 %}
        <a href="{% url 'view_step' campaign.id 6 %}"><< Back</a>
        <a href="{% url 'view_step' campaign.id 8 %}">Next >></a>
    {% endif%}
    {% if cf_step.id == 8 %}
        <a href="{% url 'view_step' campaign.id 7 %}"><< Back</a>
    {% endif%}
    <button>Save</button>
</form>

<script>
let jsonObject = JSON.parse('{{ campaign_step_data | escapejs }}');
let layoutObject = JSON.parse('{{ json_layout | escapejs }}');
//let persistedObjects = JSON.parse('{{ persisted_objects | escapejs }}');

console.log(jsonObject)

$(function () {
    let $form = $('#campaign_step');
    let $layout = $form.find('#layout');

    $.each(layoutObject['rows'], function (row_key, row) {
        let $row = $('<div>', {'class':'row'});

        $layout.append($row);

        $.each(row.columns, function (col_key, column) {
            let $col = $('<div>');
            let $label = $('<label>');
            let $input = $('<input>');
            let $select = $('<select>');
            let $textarea = $('<textarea>');
            let $tooltip = $('<i>', {'class':'help-tooltip'}).attr('data-toggle', 'tooltip').text('?');

            $col.addClass(column.class);

            $col.append($label.text(column.label));
            if (column.label_position === "top") {
                $label.after($('<br>'));
            }

            if (column.tooltip) {
                $tooltip.attr({
                    'data-placement': column.tooltip.placement,
                    'title': column.tooltip.title,
                });
                $label.append($tooltip);
            }

            if (column.required) {
                $input.prop('required', true);
            }

            if (column.field_type === "persisted_data") {
                try {
                    $.each(persistedObjects[0]['campaign_step_data'], function (a, b) {
                        if (a === column.name) {
                            $label.after(b);
                            $input.attr({
                                'name': column.name,
                                'id': column.name,
                                'type': 'hidden',
                            }).val(
                                b
                            );
                        }
                    });
                    $row.append($col.append($input));
                }
                catch(err) {

                }

                return true;
            }

            if (column.field_type === "input") {
                $input.attr({
                    'name': column.name,
                    'id': column.name,
                    'type': column.input_type,
                    'placeholder': column.placeholder
                }).val(
                    jsonObject[column.name]
                );
                $row.append($col.append($input));
                return true;
            }

            if (column.field_type === "radio") {
                $.each(column.options, function (radio_key, radio) {
                    let $radioInput = $('<input>', {'type':'radio', 'name':column.name, 'value':radio.value});
                    let $radioLabel = $('<label>');

                    if (jsonObject[column.name] === radio.value) {
                        $radioInput.prop('checked', true);
                    }

                    $radioLabel.text(radio.label);
                    $radioLabel.prepend($radioInput);
                    $col.append($radioLabel);
                });
                $row.append($col);
                return true;
            }

            if (column.field_type === "select") {
                $select.attr({
                    'name': column.name,
                    'id': column.name,
                });

                if (column.multiple) {
                    $select.prop('multiple', true);
                }

                if (column.api) {
                    $.get("{% url 'step_api_call' campaign.id cf_step.id %}", column.api, function (data) {
                        $.each(data, function (select_key, opt) {
                            let $option = $('<option>');

                            if (jsonObject[column.name] === opt.value) {
                                $option.prop('selected', true);
                            }
                            $option.attr('value', opt.value).text(opt.label);
                            $select.append($option);
                        });
                    });
                } else {
                    $.each(column.options, function (select_key, opt) {
                        let $option = $('<option>');

                        if (jsonObject[column.name] === opt.value) {
                            $option.prop('selected', true);
                        }
                        $option.attr('value', opt.value).text(opt.label);
                        $select.append($option);
                    });
                }

                $row.append($col.append($select));
                return true;
            }

            if (column.field_type === "textarea") {
                $textarea.attr({
                    'name': column.name,
                    'id': column.name,
                }).val(
                    jsonObject[column.name]
                );
                $row.append($col.append($textarea));
                return true;
            }
        });
    });
});

$(function () {
    $('[data-toggle="tooltip"]').tooltip()
});
</script>
<script type="module" src="{% static 'src/process_step_data.js' %}"></script>

{% endblock %}