{% extends "sample_app/base.html" %}
{% load static %}
{% block content %}

<h1>{{ cf_step.name }}</h1>
<hr/>

<form id="campaign_step">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6">
            <label>
                Textarea #1
                <br/>
                <textarea name="textarea_1" id="textarea_1"></textarea>
            </label>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <label>
                        Field #1
                        <br />
                        <input type="text" name="field_1" id="field_1" value=""/>
                    </label>
                </div>
                <div class="col-lg-12">
                    <label>
                        Field #2
                        <br />
                        <input type="text" name="field_2" id="field_2" value=""/>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <button id="save_step">Save</button>
</form>

<script>
    $(function () {
        let $step = $('#campaign_step');
        let $saveButton = $('#save_step');
        let jsonObject = JSON.parse('{{ campaign_step_data | escapejs }}');

        console.log(jsonObject)

        for (let key in jsonObject) {
            if (jsonObject.hasOwnProperty(key)) {
                //console.log(key + " -> " + jsonObject[key]);
                let $field = '#' + key;

                if ($step.find($field).prop('multiple') === true) {
                    let $select = $step.find($field);

                    console.log("SDFCDSFDSFDS")
                    $step.find($field).val(jsonObject[key])
                } else {
                    $step.find($field).val(jsonObject[key])
                }
            }
        }

        $saveButton.on('click', function () {
            let payload = $step.serialize();
            console.log(payload)
            $.post("{% url 'save_step_data' campaign.id cf_step.id %}", payload, function (data) {
                console.log(data)
            });

            return false;
        });
    });
</script>

{% endblock %}