{% extends "sample_app/base.html" %}
{% load static %}
{% block content %}

<h1>{{ cf_step.name }}</h1>
<hr/>

<form id="campaign_step">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-4">
            <label>
                Textarea #1
                <br/>
                <textarea name="textarea_1" id="textarea_1"></textarea>
            </label>
        </div>
        <div class="col-lg-4">
            <label>
                Select #2
                <br/>
                <select multiple name="select_2" id="select_2">
                    <option>- select -</option>
                    <option value="Cat">Cat</option>
                    <option value="Dog">Dog</option>
                    <option value="Bird">Bird</option>
                </select>
            </label>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    <label>
                        Field #1
                        <br />
                        <input type="text" name="field_1" id="field_1" value=""/>
                    </label>
                </div>
                <div class="col-lg-12">
                    <label>
                        Field #2
                        <br />
                        <input type="text" name="field_2" id="field_2" value=""/>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <button id="save_step">Save</button>
</form>

<script>
    $(function () {
        let $step = $('#campaign_step');
        let $saveButton = $('#save_step');
        let jsonObject = JSON.parse('{{ campaign_step_data | escapejs }}');

        console.log(jsonObject)

        for (let key in jsonObject) {
            if (jsonObject.hasOwnProperty(key)) {
                //console.log(key + " -> " + jsonObject[key]);
                let $field = '#' + key;

                if ($step.find($field).prop('multiple') === true) {
                    let $select = $step.find($field);

                    console.log("SDFCDSFDSFDS")
                    $step.find($field).val(jsonObject[key])
                } else {
                    $step.find($field).val(jsonObject[key])
                }
            }
        }

        $saveButton.on('click', function () {
            let payload = $step.serialize();

            $.ajax({
                url: "{% url 'save_step_data' campaign.id cf_step.id %}",
                type: "POST",
                //data: JSON.stringify($step.serializeArray()),
                //data: $step.serializeArray(),
                data: JSON.stringify($step.serialize()),
                //data: $step.serialize(),
                //processData: false,
                //contentType: false,
                //cache: false,
                //contentType: 'application/json; charset=utf-8',
                //dataType: 'json',
                //data: JSON.stringify(payload),
                //data: {'data': payload},
                //processData: false,
                beforeSend: function() {
                },
                success: function(data) {
                    console.log(data)
                },
                error : function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
            /*
            console.log(payload)
            $.post(
                "{% url 'save_step_data' campaign.id cf_step.id %}",
                payload,
                function (data) {
                    console.log(data)
                },
                'json'
            );

             */
            return false;
        });
    });
</script>

{% endblock %}